.containerResponsive {
    margin-top: 3rem;
    height: 10vw;
}

.noItmsResponsive {
    height: 70vh;
}

.carritoResponsive {
    width: 10vw;
    height: 10vw;
}

.itemResponsive {
    margin-right: 1.5rem !important;
    width: 98%;
}

.counterResponsive {
    height: 100%;
}

.headerResponsive {
    height: 18vh;
}

.imgMobile {
    margin-left: 1.5rem;
}

.summaryResponsive {
    margin-top: 4.5rem;
}

@media only screen and (max-width: 500px) {
    .containerResponsive {
        margin-top: 18rem;
        height: 40vw;
    }

    .noItmsResponsive {
        height: 80dvh;
    }

    .carritoResponsive {
        width: 10rem;
        height: 10rem;
    }

    .cartResponsive {
        flex-direction: column;
        /* height: 625pt !important; */
    }

    .contCartResponsive {
        margin-top: 24dvh;
    }

    .itemResponsive {
        flex-direction: column;
        height: auto !important;
        margin-right: 0rem !important;
    }

    .counterResponsive {
        height: 5rem !important;
    }

    .headerResponsive {
        height: 11vh;
        width: 100%;
    }

    .imgMobile {
        margin-top: 2rem !important;
        width: 11vw !important;
    }

    .summaryResponsive {
        bottom: 8dvh;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 100%;
    }
}