.coverImage {
    height: 80vh;
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: 500px) {

    .coverImage {
        height: 35vh;
        margin-top: 160px;
        object-fit: cover;
        object-position: center;
    }

    .cardCategory {
        width: 90dvw !important;
    }
}

@media only screen and (min-width: 501px) {
    .cardCategory {
        width: 40dvw !important;
    }
}