.movementContainer {
    display: flex;
    height: 90dvh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.tableContainer {
    display: flex;
    width: 70%;
    margin-top: 5rem;
}

.fixedSize {
    width: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 500px) {
    .movementContainer {
        width: 100%;
        margin-top: 0 !important;
        height: auto;
    }

    .tableContainer {
        width: 95%;
        margin-top: 2rem;
    }

    h2 {
        margin-top: 16rem;
    }

    table {
        display: block;
        width: 100%;
    }

    thead {
        display: none;
        /* Oculta la cabecera en móviles */
    }

    tbody {
        display: block;
    }

    tr {
        display: block;
        margin-bottom: 10px;
    }

    td {
        display: block;
        text-align: center;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }

    td:last-child {
        text-align: center;
    }

}