.cardProduct {
    width: 20vw;
    margin-top: 2vh;
    z-index: 1;
    height: 558px;
}

.disabledMask {
    height: 20vw;
}

.imgResponsive {
    height: 32vh !important;
}

@media only screen and (max-width: 500px) {
    .cardProduct:first-child {
        margin-top: 24vh;
    }

    .cardProduct {
        width: auto;
        height: auto;
        z-index: 1;
    }
    
    .infinityResponsive {
        height: auto;
    }

    .disabledMask {
        height: calc(9.5rem + 9.5vh + 9.5dvh);
    }

    .bodyResponsive {
        flex-direction: column;
        align-items: center;
    }

    .imgResponsive {
        height: auto;
        width: 80%;
    }

    .contentResponsive {
        margin: 3vh 0 0 0 !important;
    }
}

@media only screen and (max-width: 360px) {

    .disabledMask {
        height: 16.2rem;
    }
}