.imgLogo{
    width: 10vw;
}

.myBackground{
    background-image: url(../../assets/loginBackground.webp);
    background-size: cover;
    background-position: center;
}

.myOpacity{
    opacity: 0.9;
}

a{
    text-decoration: underline;
    color: white;
}

@media only screen and (max-width: 500px) {
    .imgLogo{
        width: 26vw;
    }
}